<title>note--つくる、つながる、とどける。</title>

<%=render "layouts/header"%>
<%=render "layouts/navbar1"%>
<%=render "layouts/navbar2"%>
<%=render "layouts/navbar3"%>

<section>
    <div class="container mainside" >
      <main>
       <h1>TODOリスト(9/30締切厳守)</h1>
       <ul>
         <li>★ドロップダウンメニューが欠けている問題を解決</li>
         <li>home,helpなどのページも動的にする</li>
         <li>★ユーザー編集ページを作る</li>
         <li>ユーザー詳細ページを作る</li>
         <li>プロフ画像変更機能、またgravatarから卒業</li>
         <li>facebookやTwitterと連携される</li>
         <li>gravatarの画像が動的でない問題を解決する</li>
         <li>ブログの詳細ページや投稿ページを作成</li>
         <li>railstutorialに書かれていることを一通り終わらせる</li>
         <li>（仮）検索アイコンがシュッと出てくるようにする</li>
         
       </ul>
     </main>

    <aside class="sidebar">
      サイドバー
    </aside>
  </div>
  
  
</section>
