<%=render "layouts/header"%>
<%=render "layouts/navbar1"%>
<%=render "layouts/navbar2"%>
<%=render "layouts/navbar3"%>

<section>
    <div class="container mainside" >
      <main>
       めいん
     </main>

    <aside class="sidebar">
      サイドバー
    </aside>
  </div>
</section>
