<body class="signuppage">
  
  <header>
    <li><%=link_to image_tag("note.svg",alt:"noteの画像",class:"noteheader3"),root_path%></li>
  </header>
  
  <main>
    <div class="container">
      <div class="login_container">
       <p class="login_p1">ログイン</p>
       <p class="login_p2">cakesのアカウントをお持ちの方は<br>このページからログインできます。</p>
      </div>
    </div>
  </main>
  
</body>