<body class="signuppage">
  
  <header>
    <li><%=link_to image_tag("note.svg",alt:"noteの画像",class:"noteheader2"),root_path%></li>
  </header>
  
  <main>
    <div class="container">
      <div class="signup_container">
       <p>noteに登録する</p>
      </div>
    </div>
  </main>
</body>