<% provide(:title, @user.name)%>
<html>
  <head>
    <title><%=yield(:title)%> | note</title>
  </head>
</html>
<%=render "layouts/header"%>

<%=render "shared/showcontainer1"%>

<%=render "shared/showcontainer2"%>



