<% provide(:title, @user.name)%>
<html>
  <head>
    <title><%=yield(:title)%> | note</title>
  </head>
</html>
<%=render "layouts/header"%>
<div class="col-md-8">
    <% if @user.notes.any? %>
      <ol>
        <%= render @notes %>
      </ol>
      
    <% end %>
  </div>
