// ヘッダー

header{
  padding-left:90px;
  margin-top:18px;
  position:relative;
}

header ul{
  overflow:hidden;
}

header li{
  float:left;
  list-style-type:none;
}

.noteheader1{
  margin-right:645px;
}

.btn1{
  font-weight:bold;
  font-size:12px;
  color:#787c7b;
}

.btn1:hover{
  text-decoration:none;
  color:black;
}

.btn2{
  background-color:#2cb696;
  border-color:#2cb696;
  font-weight:bold;
  font-size:12px;
  width:80px;
}

.btn2:hover{
  background-color:#25967c;
  border-color:#25967c;
}

.btn2:active{
  background-color:#25967c;
  border-color:#25967c;
}

.btn2:visited{
  color:white;
  text-decoration:none;
}

.icon1{
  font-size:18px;
  padding: 8px 8px 10px 18px;
}

.icon4{
  margin-left:-70px;
  font-size:18px;
  padding: 8px 8px 10px 18px;
}

.icon5{
  font-size:18px;
  margin-left:-15px;
  padding-top:8px;
}

// ドロップダウンメニュー始まり

.icon6{
  
  margin-top:1px;
  display:block;
  margin-left:-10px;
  padding-right:-500px;
}

.ddmenu1 li{
  display:inline-block;
}

.ddmenu1 .container{
  width:220px;
  height:408px;
  display:none;
  position:absolute;
  z-index:1;
  background-color:white;
  margin-left:-190px;
  border: solid #CCFFCC 1.5px;
  border-radius: 7px 7px 7px 7px;
}

.ddmenu1 li:hover .container{
  display:block;
}

ul.ddmenu1 .container ul li { 
   
   line-height: 35px;   
   margin-left:-40px; 
   color:black;
   display:block;
   
}

.mypagelink1{
  font-size:12px;
  font-weight:bold;
  margin-top:10px;
}

.mypagelink2{
  font-size:11px;
  margin-top:-17px;
  padding-bottom:9px;
  border-bottom: solid #CCFFCC 1px ;
  width:400px;
}

.mypagelink3{
  font-size:12px;
  overflow:hidden;
  margin-right:20px;
  margin-bottom:-6px;
}

.mypagelink4{
  font-size:12px;
  margin-right:20px;
  margin-top:16px;
  margin-bottom:8px;
  padding-top:10px;
  padding-bottom:10px;
  border-top:solid #CCFFCC 1px;
  border-bottom: solid #CCFFCC 1px;
  width:200px;
}

.mypagelink5{
  font-size:12px;
  margin-right:20px;
  width:200px;
  margin-bottom:-6px;
}

.mypagelink6{
  font-size:12px;
  margin-right:20px;
  width:200px;
  border-bottom:solid #CCFFCC 1px;
  padding-bottom:10px;
}

.mypagelink-link{
  color:black;
}

.mypagelink-link:hover{
  color:black;
  text-decoration:none;
}

.btn6{
  background-color:#2cb696;
  border-color:#2cb696;
  font-weight:bold;
  font-size:13px;
  color:white;
  height:32px;
  width:185px;
  margin-top:15px;
}

.btn6:hover{
  background-color:#2cb696;
  border-color:#2cb696;
  color:white;
  text-decoration:none;
}

// ドロップダウンメニュー終わり


.btn5{
  background-color:#2cb696;
  border-color:#2cb696;
  font-weight:bold;
  font-size:13px;
  color:white;
  width:114px;
  line-height:16px;
  margin-left:80px;
  position:absolute;
  margin-top:-31px;
  
}

.btn5:hover{
  background-color:#25967c;
  border-color:#25967c;
  color:white;
  text-decoration:none;
}

.btn5:active{
  background-color:#25967c;
  border-color:#25967c;
}

// なぶばー1

.navbar1{
  overflow:hidden;
  margin-left:195px;
  margin-top: -10px;
  width:940px;
  border-bottom: #CCFFCC solid 1px;
}

.navbar1 li{
  float:left;
  list-style-type:none;
  font-weight: bold;
  color:#787c7b;
  font-size:14px;
  padding-right:16px;
}

.navbarli:hover{
  color:black;
}

.icon2{
  font-size:21px;
  width: 21px;
  height: 21px;
  color:#BBBBBB;
  margin-left:240px;
  padding: 12px 0 0 28px;
}

.icon2:hover{
  color:black;
}

// なぶばー２

.navbar2{
  padding-left:210px;
  margin-top: -2px;
  width:1500px;
  border-bottom: rgba(0,0,0,0.15) solid 1.5px;
}

.navbar2 a{
  font-size: 14px;
  margin-right:13px;
}

// なぶばー３

.navbar3{
  overflow:hidden;
  border-bottom: #CCFFCC solid 1px;
  width:940px;
  margin-left:205px;
}

.navbar3 li{
  float:left;
  list-style-type:none;
  
}

.hensyubu{
  font-size: 20px;
  font-weight: bold;
  margin-left:-55px;
  margin-top:30px;
  margin-bottom:28px;
}

.icon3{
  font-size: 18px;
  width: 18px;
  height: 18px;
  color:#BBBBBB;
  padding-left:755px;
  padding-top:33px;
  position:relative;
}

// メイン
main{
  background-color:#f7f9f9;
  width:100%;
  padding-top:18px;
}



main ol li{
  border:rgba(0,0,0,0.05) solid 2px;
  background-color:white;
  width:580px;
  margin:auto;
  margin-bottom:15px;
}


// ヘルプ

.helpnav{
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    width:600px;
    margin-left:370px;
    margin-top:45px;
    padding-bottom:10px;
}

.yokuarusitumon{
  margin-top:50px;
  margin-left:370px;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  width:600px;
  padding-bottom:30px;
}

.yokuarusitumon li{
  font-size: 16px;
  margin-bottom:7px;
  letter-spacing: 0.5px;
}

.yokuarusitumonli{
    color:black;
}

.yokuarusitumonli:hover{
  text-decoration:none;
  color:black;
}

.sitemap{
  border-bottom: 1px solid rgba(0,0,0,0.05);
  width:550px;
  margin-left:370px;
  margin-top:40px;
  padding-bottom:50px;
}

.sitemap p{
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: normal;
    color: #787c7b;
    margin-left:20px;
}

.sitemapwrap{
  overflow:hidden;
  margin-left:-20px;
}

.sitemap li{
  float:left;
  list-style:none;
   margin-right: 18px;
   margin-bottom: 12px;
   font-size: 14px;
}

// 新規登録ページ

.signuppage{
  background-color:#f7f9f9;;
}

.noteheader2{
  margin-top:35px;
  margin-left:520px;
  position:absolute;
}

.signup_container{
  margin-top:90px;
  margin-left:480px;
  width:360px;
  height:700px;
  background-color:#FFF;
  padding:20px;
  border:solid 2px  rgba(0,0,0,0.05);
}

.notetouroku{
   text-align: center;
   font-size:22px;
   font-weight:bold;
   padding-top:22px;
   letter-spacing: 0.5px;
}

.signup_container label{
  margin-left:-2px;
  font-size:12px;
  margin-bottom:-16px;
  margin-top:18px;
}

.signup_container input[type="text"] {
  width: 315px;
  height: 30px;
  border: solid 1px rgba(0,0,0,0.10);
  border-radius: 5px 5px 5px 5px;
}
    
.signup_container input[type="password"] {
   width: 315px;
   height: 30px;
   border: solid 1px rgba(0,0,0,0.10);
   border-radius: 5px 5px 5px 5px;
}

.signup_container input:focus {
    border:solid 0.5px rgba(0,0,0,0.12);
    border-radius: 5px 5px 5px 5px;
}

.riyoukiyakubox{
  overflow:hidden;
  padding-left:100px;
  padding-top:20px;
}

.check_box{
  margin-top:2px;
  margin-right:5px;
  float:left;
}

.kiyaku{
  font-size:11px;
}

.kiyakuurl{
  color:#249f80;
}

.kiyakuurl:hover{
  color:#249f80;
}

.btn3{
  
  background-color:#2cb696;
  border-color:#2cb696;
  font-weight:bold;
  font-size:16px;
  color:white;
  height:50px;
  width:320px;
  display:block;
}

.btn3:hover{
  background-color:#2cb696;
  border-color:#2cb696;
  color:white;
  text-decoration:none;
}

.social{
  border-top: solid rgba(0,0,0,0.10) 1px;
  text-align:center;
  padding-top:20px;
  font-size:12px;
  font-weight:bold;
}

input::placeholder {
  color: rgba(3,0,0,0.12);
  font-size: 0.8em;
  font-weight:bold;
}


// ログインページ

.noteheader3{
  margin-top:35px;
  margin-left:540px;
  position:absolute;
}

.login_container{
  margin-top:90px;
  margin-left:490px;
  width:360px;
  height:450px;
  background-color:#FFF;
  padding:20px;
  border:solid 2px  rgba(0,0,0,0.05);
}

.login_p1{
   text-align: center;
   font-size:22px;
   font-weight:bold;
   padding-top:22px;
   letter-spacing: 0.5px;
   
}

.login_p2{
  color:#898D8C;
  text-align:center;
  font-size:12px;
  margin-top:-17px;
}

.login_p3{
  text-align:center;
  font-weight:bold;
  font-size:14px;
  margin-top:100px;
}

.login_container input[type="text"]{
  width: 315px;
  height: 30px;
  border: solid 1px rgba(0,0,0,0.10);
  border-radius: 5px 5px 5px 5px;
}

.login_container input[type="password"]{
   margin-top:15px;
   width: 315px;
   height: 30px;
   border: solid 1px rgba(0,0,0,0.10);
   border-radius: 5px 5px 5px 5px;
}

.login_p4{
  font-size:12px;
  color:#898D8C;
}

.login_p4:hover{
  color:#898D8C;
}

.btn4{
  background-color:#2cb696;
  border-color:#2cb696;
  font-weight:bold;
  font-size:12px;
  color:white;
  height:35px;
  width:150px;
  margin-top:20px;
  margin-bottom:3px;
  margin-left:80px;
}

.btn4:hover{
  background-color:#2cb696;
  border-color:#2cb696;
  text-decoration:none;
  color:white;
}

.login_p5{
  margin-left:115px;
  color:#898D8C;
  font-size:11px;
}

.login_p5:hover{
  color:#898D8C;
}

// アカウント設定

.settings{
  border-top:solid 2px #D9E5FF;
  background-color:#f7f9f9;
  padding-top:20px;
  height:800px;
}

.settingcontainer1{
  width:570px;
  height:130px;
  background-color:white;
  margin-left:400px;
  border:solid 1.5px rgba(0,0,0,0.05);
  
}

.settingcontainer1 p{
  text-align:center;
  font-size:25px;
  margin-top:30px;
}

.settingcontainer1 ul{
  overflow:hidden;
  margin-left:90px;
  margin-top:30px;
}

.settingcontainer1 ul li{
  float:left;
  list-style-type:none;
  font-weight:bold;
  font-size:13px;
  margin-right:19px;
  
}

.settingcontainer1 ul li:hover{
  border-bottom: 3px #660000 solid;
  padding-bottom:9px;
}

.settingcontainer2{
  
  width:570px;
  height:500px;
  background-color:white;
  margin-left:400px;
  margin-top:18px;
  border:solid 1.5px rgba(0,0,0,0.05);
}

.settingcontainer2 ul{
  overflow:hidden;
  margin-top:20px;
}

.settingcontainer2 ul li{
  list-style-type:none;
  font-size:13px;
  margin-left:65px;
}

.edit1{
  font-weight:bold;
  margin-top:25px;
}

.edit2{
  margin-top:5px;
}

.edit3{
  font-weight:bold;
  margin-top:25px;
  padding-bottom:3px;
  border-top:solid 1.5px rgba(0,0,0,0.05);
  padding-top:30px;
  width:380px;
}

.edit4{
  margin-top:10px;
  border-bottom:solid 1.5px rgba(0,0,0,0.05);
  padding-bottom:30px;
  width:380px;
}

.henkou{
  color:#249f80;
  margin-left:5px;
  font-weight:normal;
}

.henkou:hover{
  color:#249f80;
}

.switch {
  position: absolute;
  display: inline-block;
  width: 34px;
  height: 18px;
  margin-left:200px;
  margin-top:7px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}


// アカウント設定　名前

.settingcontainer3{
  width:570px;
  height:200px;
  background-color:white;
  margin-left:400px;
  margin-top:18px;
  border:solid 1.5px rgba(0,0,0,0.05);
}

.settingcontainer3 input[type="text"] {
  
  font-size:13px;
  margin-left:120px;
  width:340px;
  height:33px;
}

.settingcontainer3 input[type="email"] {
  
  font-size:13px;
  margin-left:120px;
  width:340px;
  height:33px;
}

.edname_label{
  font-size:13px;
  font-weight:bold;
  margin-left:120px;
  margin-top:30px;
}

.btn7{
  width: 110px;
  height: 31px;
  border:rgba(0,0,0,0.13) solid 1px;
  font-size:13px;
  margin-left:350px;
  margin-top:-57px;
  color:black;
}

.btn8{
  width: 110px;
  height: 31px;
  border:rgba(0,0,0,0.13) solid 1px;
  font-size:12px;
  margin-left:120px;
  margin-top:20px;
  color:black;
  list-style-type:none;
}

.btn7:hover{
  border:rgba(0,0,0,0.13) solid 1px;
  color:black;
  text-decoration:none;
}

.btn8:hover{
  border:rgba(0,0,0,0.13) solid 1px;
  color:black;
  text-decoration:none;
}


// アカウント設定　パスワード

.settingcontainer4{
  width:570px;
  height:300px;
  background-color:white;
  margin-left:400px;
  margin-top:18px;
  padding-top:25px;
  border:solid 1.5px rgba(0,0,0,0.05);
}

.settingcontainer4 input[type="password"] {
  
  font-size:13px;
  margin-left:120px;
  width:350px;
  height:30px;
}

.edpassword_label{
  font-size:13px;
  font-weight:bold;
  margin-left:120px;
  margin-top:10px;
  margin-bottom:5px;
}

.btn9{
  width: 110px;
  height: 31px;
  border:rgba(0,0,0,0.13) solid 1px;
  font-size:13px;
  margin-left:360px;
  margin-top:-57px;
  color:black;
}

.btn9:hover{
  border:rgba(0,0,0,0.13) solid 1px;
  color:black;
  text-decoration:none;
}


// ユーザー詳細ページ

.showcontainer1{
  background-color:white;
  border-top: solid 2px rgba(0,0,0,0.05);
  position:relative;
}

.user_profile{
  margin-left:210px;
  margin-top:30px;
  
  
}

.icon7{
  margin-left:700px;
  color:rgba(0,0,0,0.20);
}

.profile_follow{
 margin-left:510px;
 margin-top:-55px;
 position:absolute;
}

.btn9{
  color:white;
  font-weight:bold;
  background-color:#2cb696;
  width:146px;
  height:40px;
  font-size:15px;
  
}

.btn9:hover{
  color:white;
  background-color:#2cb696;
}

.showcontainer1 ul{
  list-style-type:none;
  display:inline-block;
  margin-left:-20px;
}

.profile1{
  font-size:22px;
  font-weight:bold;
}

.profile2{
  font-size:15px;
  
}

.showfollow{
  margin-left:130px;
  margin-top:-20px;
}

.follow1{
  color:black;
  font-size:17px;
}

.follow2{
  color:#787c7b;
  text-decoration:none;
  font-size:15px;
}

.follow3{
  color:#A8ABB1;
  font-size:18px;
  position:relative;
  margin-left:15px;
}

.showcontainer1_under{
  width: 940px;
  border-top: solid 1px rgba(0,0,0,0.05);
  margin-top:50px;
  margin-left:200px;
}

.showcontainer1_under ul{
  overflow:hidden
}

// 初期値でborderのカラムと値を入れておくとカラム落ちを防げる
.showcontainer1_under ul li{  
  float:left;
  list-style-type:none;
  font-size:13px;
  width:80px;
  line-height:20px;
  padding-left:15px;
  padding-top:20px;
  padding-bottom:20px;
  border-bottom: 2px solid white;
  color:black;
  
}

.showcontainer1_under ul li a{
  color:black;
  text-decoration:none;
}

.showcontainer1_under ul li:last-child{
  margin-left:640px;
  padding-left:8px;
  font-size:13px;
}

.showcontainer1_under ul li:hover{
  border-bottom: 2px #660000 solid;
  padding-bottom:-1px;
  font-weight:bold;
}


// ユーザー詳細ページnote部分

.showcontainer2{
  background-color:#f7f9f9;
  height:1000px;
  padding-top:-20px;
}

.notepost{
  padding-top:200px;
}



// rgba(0,0,0,0.05) #787c7b