<div class="settingcontainer1">
  <p>アカウント設定</p>
  <ul>
    <li><%=link_to "アカウント","#",class:"mypagelink-link"%></li>
    <li><%=link_to "購入履歴","#",class:"mypagelink-link"%></li>
    <li><%=link_to "カード情報","#",class:"mypagelink-link"%></li>
    <li><%=link_to "お支払先","#",class:"mypagelink-link"%></li>
  </ul>
</div>