<nav class="navbar navbar-expand-lg navbar-light navbar2 ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">マンガ<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">コラム</a>
      <a class="nav-item nav-link" href="#">小説</a>
      <a class="nav-item nav-link" href="#">写真</a>
      <a class="nav-item nav-link" href="#">サウンド</a>
      <a class="nav-item nav-link" href="#">ビジネス</a>
      <a class="nav-item nav-link" href="#">ライフスタイル</a>
      <a class="nav-item nav-link" href="#">テクノロジー</a>
      <a class="nav-item nav-link" href="#">エンタメ</a>
    </div>
  </div>
</nav>