<nav>
<nav class="navbar navbar-expand-lg navbar-light navbar1 ">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class="nav-link" href="#"><span class="navbarli">おすすめ</span><span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="#"><span class="navbarli">公式マガジン</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="#"><span class="navbarli">募集中4</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#"><span class="navbarli">ピックアップ</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link " href="#"><span class="navbarli">注目カテゴリ</span></a>
      </li>
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="navbarli">人気タグ</span>
        </a>
      </li>
      <li class="nav-item-question">
        <%= link_to help_path, method: :get do %>
        <i class="far fa-question-circle icon2"></i>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
</nav>