<nav class="navbar3">
  <div class="container">
    <ul>
      <li class="hensyubu">編集部のおすすめ</li>
      <li>
        <%=link_to help_path, method: :get do %>
        <i class="fas fa-rss icon3"></i>
        <%end%>
      </li>
    </ul>
  </div>
</nav>